<!DOCTYPE html>
<html>
	<head>
	  <title>{{ page.title }}</title>
	  <!-- link to main stylesheet -->
	  <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
	  <nav>
            <h1>Kenneth Tay</h1>
	    <ul>
	      <li><a href="/">Home</a></li>
	      <li><a href="/cv/">CV / Research / Teaching</a></li>
	      <li><a href="/projects/">Software & Projects</a></li>
	      <li><a href="/esoterica/">Esoterica</a></li>
		  <li><a href="/links/">Links</a></li>
		  <li><a href="/personal/">Personal</a></li>
	    </ul>
	  </nav>
	  <div class="container">

	    {{ content }}

	  </div><!-- /.container -->
	  <footer>
	    <ul>
	      <li><a target="_blank" href="https://github.com/kjytay">github.com/kjytay</a></li>
	    </ul>
	  </footer>
	</body>
</html>
